body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: rgb(241, 241, 55);
}
.red{
    background-color: rgb(240, 57, 85);
}
.green{
    background-color: #3dee72;
}
.purple{
    background-color: rgb(250, 95, 255);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: rgb(13, 66, 11);
}